@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: cabin;
}



.body{
  background-color: #F5F7F9;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 52px;
  margin-right: 52px;
  margin-top: 40px;
  
}

.header-list {
  display: flex;
  gap: 56px;
  
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.blue-btn{
  border-style: solid;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 8px;
  border-width: 1px;
  background-color: #425DF8;
  border-color: #425DF8;
  color: white;
}

.btn {
  border-style: solid;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 8px;
  border-width: 1px;
  background-color: white;
  border-color: #DADADA;
}

.container-btn{
  display: flex;
  gap: 24px;
}

.top{
  margin-top: 145px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.card-container{
  display: flex;
  gap: 24px;
  margin-left: 52px;
  margin-right: 52px;
  
  justify-content: center;
  align-items: flex-end;
  margin-top: 120px;
  margin-bottom: 195px;
}

.card-description{
  line-height: 27.5px;
  align-items: center;
  width: 200px;
  font-weight: 400px;
  text-align: center;

}

.card{
  display: flex;
  flex-direction: column;
  border: 1px solid #DADADA;
  border-radius: 24px;
  width: 416px;
  height: 789px;
  align-items: center;
  justify-content: center;
  gap: 27px;
  background-color: #FDFDFD;
}

.card-pro{
  display: flex;
  flex-direction: column;
  border: 1px solid #DADADA;
  border-radius: 24px;
  width: 416px;
  height: 817px;
  align-items: center;
  justify-content: center;
  gap: 27px;
  background-color: #161A34;
  color: white;
}



.card-head{
  font-size: 30px;
}

.card-lists-pro li {
  padding-left: 20px; 
  background: url('/img/bullit.png') no-repeat left center; 
  background-size: 16px 16px; 
  margin-bottom: 16px;
  color: white;
}

.card p{
  color: #7F828A;
}

.card-price{
  display: flex;
  align-items: center;
  gap: 16px;
}

ul {
  list-style-type: none; /* Remove default list markers */
}

.card-lists li {
  padding-left: 20px; 
  background: url('/img/bullit.png') no-repeat left center; 
  background-size: 16px 16px; 
  margin-bottom: 16px;
  color: #7F828A;
}

.blue-link{
  border-style: solid;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 8px;
  border-width: 1px;
  background-color: #425DF8;
  border-color: #425DF8;
  color: white;
  text-decoration: none;
  margin-top: 125px;
}

.card h1{
  font-size: 64px;
}

.footer{
  display: flex;
  margin: 16px 52px 16px 52px;
  justify-content: space-between;
}

.footer-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.rights{
  display: flex;
  color: #7F828A;
  align-items: center;
}